html,
body {
    font-size: 13pt;
    width: 100%;
    height: 100%;
}


/* .footer {
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
} */

.login {
    background-color: #dcdcdc;
}